.scale {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.increase {
    margin-right: 5px;
}

button {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px green solid;
    cursor: pointer;
}
