.scale {
    position: fixed;
    top: 95%;
    left: 95%
}

.increase {
    margin-right: 5px;
}

button {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px green solid;
    cursor: pointer;
}